<!DOCTYPE html>
<html>
<head>
  <title>Adhesion</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-left">
      <li> <%= image_tag "logo.jpg" %> </li>
      <li></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% unless user_signed_in? %>
        <li><%= link_to t("authentication.sign_in"), new_user_session_path %></li>
        <li><%= link_to t("authentication.sign_up"), new_user_registration_path %></li>
      <% else %>
        <li><%= link_to t("nav.my_profile"), profile_path %></li>
        <li><%= link_to t("authentication.sign_out"), destroy_user_session_path, method: :delete %></li>
      <% end %>
    </ul>
  </div>
</nav>

<section id="content">
  <div class="centered">
    <%= yield %>
  </div>
</section>

<section id="footer">
  <div class="centered">
    <div class="navbar-header">
      <a class="navbar-brand" href="http://reservert.com/">Reservert.com</a>

      <%= link_to t("footer.contact_us"), "mailto:Xgret@hotelierquebec.com", class: "navbar-brand" %>
      <span class="navbar-brand">450-508-7576 ext. 232</span>
    </div>
  </div>
</section>

</body>
</html>
