<!DOCTYPE html>
<html>
<head>
  <title>Adhesion</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<section id="header">
  <div class="centered">
    <% unless user_signed_in? %>
      <%= link_to "Connection", new_user_session_path %>
      <%= link_to "Créer un compte", new_user_registration_path %>
    <% else %>
      <%= link_to "Déconnection", destroy_user_session_path, method: :delete %>
    <% end %>
  </div>
  <br/>
  <div class="centered">
    <%= image_tag "logo.jpg" %>
  </div>
</section>

<section id="content">
  <div class="centered">
    <%= yield %>
  </div>
</section>

<section id="footer">
  <div class="centered">
    <div class="navbar-header">
      <a class="navbar-brand" href="http://reservert.com/">Reservert.com</a>

      <a class="navbar-brand" href="mailto:Xgret@hotelierquebec.com">Contactez-nous</a>
      <span class="navbar-brand">450-508-7576 ext. 232</span>
    </div>
  </div>
</section>

</body>
</html>
